h1 {
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.recipe {
    color: brown;
    font-weight: bolder;
    font-size: 22px;
}
.name {
    background-color: bisque;
}
.photo {
    margin: auto;
    display: block;
}
